*{
    margin: 0%;
    padding: 0%;
}

form{
    margin-top: 10px;
  
}

#caixa{
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;      
    padding: 15px;  
    width: 500px;
    height: 800px;   
    margin: auto;
}

.btncep{
    background-color: rgb(27, 27, 222);
    color: white;
    justify-content: space-between;
    margin: 10px;
    border-radius: 8px;
}

input{
    padding: 6px;
}

#btncadastro{
    margin-top: 7px;

}

