/*Toda reponsividade da página home*/

@media(max-width: 1200px){

}

@media(max-width:920px){
    .img1{      /*imagem do carrossel*/
        height: 400px;
    }

    .col1 img{
        margin: 10px;
    }

    .card img{
        margin: 10px;
    }
    #card-anuncio-1{       /*card do do primeiro anuncio de fundo preto*/
        display: flex;
        flex-direction: column;
        padding: 50px;
        height: auto;
    }

}

@media(max-width: 800px){
    .img2{
        display: flex;
        justify-content: center;
    }
}   

@media(max-width: 680px){
    #card-text-input span h1{
        width: 300px;
    }
    
    .divInput{
        display: flex;
        justify-content: center;
        min-width: 50%;
    }

    input{
        width: 100%;
        min-width: 10%;
    }

    #card-text-input span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 570px){
    .divInput{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .divButton{
        width: 400px;
        display: flex;
        justify-content: center;
    }

    #button{
        margin: 10px;
    }

    .card-anuncio{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 650px;
    }

    .col1-card2{
        padding: 20px;
    }
}

@media(max-width:430px){
    .divInput{
        display: flex;
        justify-content: center;
        min-width: 50%;
    }

    #rodape > span{
        font-size: 10px;
    }
    input{
        width: 70%;
        align-self: center;
    }
    
    h3{
        width: 300px;
    }
    
}